{% extends "base.html" %}

{% block pagename %}login{% endblock %}
{% block headername %}login{% endblock %}

{% block content %}
<div>
	<form action="{% url 'login_user' %}" method="post" class="login">{% csrf_token %}
		<table>
			{% if login_form.non_field_errors %}
				<tr>
					<td><i style="font-size: small;">{{ login_form.non_field_errors|striptags }}</i></td>
				</tr>
			{% endif %}
			{% for field in login_form %}
			<tr>
				<td>{{ field }}</td>
			</tr>
			{% endfor %}
			<tr>
				<td style="text-align:right;" >
					<a href="{% url 'register_user' %}">register</a>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<input type="submit" value="login" />
				</td>
			</tr>
		</table>
		
		<input type="hidden" name="next" value="{{ next }}">
		
	</form>
</div>
{% endblock %}

