{% extends "base.html" %}
{% block pagename %}status{% endblock %}

{% block content %}
<div>
	<table>
		<tr>
			<th colspan="2">Basic Information</th>
		</tr>
		{% for key, value in basic.items %}
		<tr>
			<td>{{ key }}</td>
			<td>{{ value }}</td>
		</tr>
		{% endfor %}
	</table>
</div>

<div>
	<table>
		<tr>
			<th colspan="2">Possessions</th>
		</tr>
		{% for key, value in possessions.items %}
		<tr>
			<td>{{ key }}</td>
			<td>{{ value }}</td>
		</tr>
		{% endfor %}
	</table>
</div>

<div>
	<table>
		<tr>
			<th colspan="2">Status</th>
		</tr>		
		{% for key, value in status.items %}
		<tr>
			<td>{{ key }}</td>
			<td>{{ value }}</td>
		</tr>
		{% endfor %}
	</table>	
</div>

<div>
	<table>
		<tr>
			<th colspan="2">Timers</th>
		</tr>		
		{% for name, links in timers.items %}
		<tr>
			<td>{{ name }}</td>
			<td><a href="{% url links.url %}">{{ links.timer }}</a></td>
		</tr>
		{% endfor %}
	</table>	
</div>

<div>
	<table>
		<tr>
			<th colspan="2">Work Experience</th>
		</tr>		
		{% for key, value in work.items %}
		<tr>
			<td>{{ key }}</td>
			<td>{{ value }}</td>
		</tr>
		{% endfor %}
	</table>	
</div>
{% endblock %}
