{% extends "base.html" %}

{% block pagename %}market{% endblock %}


{% block content %}
<div>
	<p>
	Welcome to the market - Here you can buy everything you need to be a real mercenary.<br>
	Be warned: "All your items, except for your houses, sell for only 80% of the original price.<br>
	You are currently viewing the market in {{ request.user.character.region }}, and are waiting on the following deliveries:<br>
	<br>
	Make a waitlist of "incoming" items	
	</p>
	<table style="margin-left: auto; margin-right: auto; width">
		<tr>
			<td colspan="2"><b>Transport</b></td>
		</tr>
		{% for transport in all_transports %}
		<tr>
			<td>{{ transport.region }}</td>
			{% if transport.transport == None %}
			<td>Available</td>
			{% else%}
			<td>{{ transport.transport }}</td>
			{% endif %}
		</tr>
		{% endfor %}
	</table>
	
	<br>
	<br>
	
	<table>
		<tr>
			<td>Put the house information here?</td>
		</tr>
	</table>
	
</div>

{% endblock %}
